<div class="list-item">
  <div class="list-blog-header">
    <div class="list-blog-padding">
      <div class="listbullet alert {{ page.header.alert_style }}">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
